<template>
  <Page>
    <!-- Content -->
    <div class="wide-content">
      <h1 class="mt-4 mb-3 text-center">Device codenames</h1>
      <p class="mb-4">
        Sometimes you might notice that devices are referenced with a different
        name than the commercial name. We use device codenames for testing and
        development purposes. If you need to know your device codename or you
        want to know which device has a given codename you can check the table
        below.
      </p>

      <div class="device-codenames">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr
                v-for="device in $page.allDevice.edges.map((n) => n.node)"
                :key="device.codename"
              >
                <td>{{ device.codename }}</td>
                <td>{{ device.name }}</td>
                <td>
                  <g-link :to="device.path">
                    <g-image
                      src="~/assets/img/symbols/external-link.svg"
                      alt="device-link-icon"
                    />
                  </g-link>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </Page>
</template>

<page-query>
query {
  allDevice (sortBy: "codename", order: ASC) {
    totalCount
    edges {
      node {
        codename
        name
        path
      }
    }
  }
}
</page-query>

<script>
import Page from "~/layouts/Page.vue";

export default {
  metaInfo: {
    title: "Device codenames",
    meta: [
      {
        name: "keywords",
        content:
          "Ubuntu Touch, mobile, Linux, Android, privacy, smartphone, codename"
      },
      {
        name: "description",
        content:
          "Explore devices compatible with Ubuntu Touch. Device codenames are used in development and testing instead of the commercial name. Check this list to know which device we are talking about."
      },
      {
        property: "og:url",
        content: "https://devices.ubuntu-touch.io"
      },
      {
        property: "og:title",
        content: "Device codenames • Ubuntu Touch • Linux Phone"
      },
      {
        property: "og:description",
        content:
          "Explore devices compatible with Ubuntu Touch. Device codenames are used in development and testing instead of the commercial name. Check this list to know which device we are talking about."
      }
    ]
  },
  components: {
    Page
  }
};
</script>
