<template>
  <Layout>
    <!-- Heading -->
    <div class="heading">
      <!-- Title -->
      <div class="title mt-4">
        <div>
          <h1 class="h3">{{ $page.device.name }}</h1>
          <button
            v-if="$page.device.buyLink != 'disabled'"
            class="btn btn-tertiary btn-small btn-rounded ml-4 mt-1"
            @click="buy"
          >
            Buy
          </button>
        </div>
        <p>
          <a href="/about/categories">{{ $page.device.portType }}</a>
          <span v-if="$page.device.portType"> | </span>
          <g-link to="/about/codenames">{{ $page.device.codename }}</g-link>
        </p>
      </div>
    </div>

    <!-- Progress -->
    <p class="bold mb-1">Overall progress</p>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        :style="{ width: $page.device.progress + '%' }"
        :aria-valuenow="$page.device.progress"
        aria-valuemin="0"
        aria-valuemax="1"
      ></div>
    </div>

    <p class="mb-4">{{ $page.device.description }}</p>

    <div class="row">
      <!-- Usabilty -->
      <div class="col-sm-6 pr-5">
        <p class="badge mb-2 light bg-light">Usability</p>
        <p class="mb-4">{{ $page.device.progressStage }}</p>
      </div>

      <!-- Device progress -->
      <div class="col-sm-6">
        <p class="badge mb-2 light bg-light">Port progress</p>
        <p class="mb-4">{{ $page.device.progressAdvancement }}</p>
      </div>
    </div>

    <!-- Unmaintained -->
    <div
      v-if="$page.device.tag == 'unmaintained'"
      class="ports-banner unmaintained bold"
    >
      <p>
        This device is not maintained, nobody is actively developing it and it
        will not receive fixes for known issues.
      </p>
      <p>
        If you are a developer we encourage you to contact the porter to
        continue development.
      </p>
    </div>

    <PortStatus
      v-if="$page.device.portStatus.length"
      :port-status="$page.device.portStatus"
    />
    <DeviceInfo
      v-if="$page.device.deviceInfo.length"
      :device-info="$page.device.deviceInfo"
    />

    <div
      v-if="$page.device.enableMdRendering"
      class="markdown-content"
      v-html="$page.device.content"
    ></div>

    <Installer v-if="!$page.device.noInstall" />

    <!-- No Installer -->
    <div v-if="$page.device.noInstall" class="ports-banner no-installer">
      <p class="bold">
        <a v-if="$page.device.installLink" :href="$page.device.installLink"
          >This device hasn’t been added to the UBports Installer yet. Click
          here to find installation instructions.</a
        >
        <span v-else-if="$page.device.enableMdRendering"
          >This device hasn’t been added to the UBports Installer yet.
        </span>
        <span v-else
          >This device hasn’t been added to the UBports Installer yet.
          Installation instructions are not available.</span
        >
      </p>
    </div>

    <!-- Contributors & Discussions -->
    <div
      v-if="
        $page.device.contributors.length || $page.device.externalLinks.length
      "
      class="contributors-discussions"
    >
      <!-- Discussions -->
      <div v-if="$page.device.externalLinks.length" class="discussions">
        <h2 class="h3 light">Get help</h2>
        <ul>
          <!-- Link -->
          <li v-for="link in $page.device.externalLinks" :key="link.name">
            <a :href="link.link">
              <g-image
                :src="
                  require(`!!assets-loader!@/assets/img/services/${link.icon}.svg`)
                "
                alt="link-icon"
                class="ext-link-icon"
              />
              {{ link.name }}
            </a>
          </li>
        </ul>
      </div>

      <!-- Contributors -->
      <div v-if="$page.device.contributors.length" class="contributors">
        <h2 class="h3 light">Contributors</h2>
        <ul>
          <!-- Person -->
          <li v-for="person in $page.device.contributors" :key="person.name">
            <a :href="person.forum">
              <g-image
                v-if="person.photo"
                :src="require(`!!assets-loader!@/${person.photo}`)"
                alt="person-img"
              />
              <g-image v-else src="~/assets/img/yumi3d.jpg" alt="person-img" />
              <p>{{ person.name }}</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div v-if="!$page.device.noInstall" class="installer-video">
      <h2 class="h3 bold">Lost while flashing your device?</h2>
      <p>
        Watch our awesome
        <a href="https://www.youtube.com/watch?v=zuLFTGkuD68">tutorial</a>
      </p>
      <div class="helpflash-container">
        <g-image class="helpflash" src="~/assets/img/installer/helpflash.svg" />
      </div>
    </div>
  </Layout>
</template>

<page-query>
query ($id: ID!) {
  device(id: $id) {
    name
    codename
    portType
    deviceType
    progress
    progressStage
    progressAdvancement
    noInstall
    installLink
    buyLink
    description
    tag
    enableMdRendering
    content
    portStatus {
      categoryName
      features { name value bugTracker global }
    }
    deviceInfo {
      name value
    }
    contributors {
      name photo forum
    }
    externalLinks {
      name link icon
    }
    seo { description keywords }
  }
}
</page-query>

<script>
import PortStatus from "~/components/devices/PortStatus.vue";
import DeviceInfo from "~/components/devices/DeviceInfo.vue";
import Installer from "~/components/devices/Installer.vue";

export default {
  metaInfo() {
    return {
      title: this.$page.device.name,
      meta: [
        {
          name: "keywords",
          content: this.$page.device.seo
            ? this.$page.device.seo.keywords
            : "Ubuntu Touch, " +
              this.$page.device.name +
              ", Privacy phone, Linux smartphone, Linux on mobile"
        },
        {
          name: "description",
          content: this.$page.device.seo
            ? this.$page.device.seo.description
            : "Flash your " +
              this.$page.device.name +
              " with the latest version of the Ubuntu Touch operating system, a privacy focused OS developed by hundreds of people."
        },
        {
          property: "og:url",
          content: "https://devices.ubuntu-touch.io" + this.$route.path
        },
        {
          property: "og:title",
          content: this.$page.device.name + " • Ubuntu Touch • Linux Phone"
        },
        {
          property: "og:description",
          content: this.$page.device.seo
            ? this.$page.device.seo.description
            : "Flash your " +
              this.$page.device.name +
              " with the latest version of the Ubuntu Touch operating system, a privacy focused OS developed by hundreds of people."
        }
      ]
    };
  },
  components: {
    PortStatus,
    DeviceInfo,
    Installer
  },
  methods: {
    buy() {
      window.location.href = this.$page.device.buyLink
        ? this.$page.device.buyLink
        : "https://swappa.com/search?q=" + this.$page.device.name;
    }
  }
};
</script>
